<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="VeterinariadeBolsillo.VeterinariadeBolsillo" android:versionCode="1" android:versionName="1.4.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
	<uses-permission android:name="android.permission.CAMERA" />
	<application android:label="VeterinariadeBolsillo" android:theme="@style/MyCustomTheme" android:icon="@drawable/Icono"></application>
</manifest>